.home-container {
  display: flex;

  .all-movies,
  .popular-movies {
    font-family: 'Roboto', sans-serif;
    min-height: calc(100vh - 80px);
    padding: 20px 40px;
  }

  .all-movies {
    border-right: 1px solid #fdc827;
    width: 75%;

    .top {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      h4 {
        border-left: 5px solid #ff9900;
        font-weight: bold;
        padding-left: 10px;
        text-transform: uppercase;
      }

      .view-all {
        color: #ff9900;
        cursor: pointer;
      }
    }

    .movies-thumbnail{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      flex-wrap: wrap;
      margin-bottom: 45px;
      overflow: hidden;

      .cover img{
        border-radius: 5px;
      }

      .detail{
        width: 180px;

        .name{
          cursor: pointer;
          font-weight: bold;
          height: 50px;
          margin-top: 5px;
        }

      }
    }
  }

  .popular-movies {
    width: 25%;
  }
}

.rating{
  padding-right: 45px;
  position: relative;
}